__pycache__/
*.pyc
*.pyo
*.pyd
ML/datasets/data_iter100000/game_configs.jsonl
ML/datasets/data_iter100000/states_dataset.csv
ML/datasets/data_iter100000/logs/
RL/runs/
RL/.last_play_vs_rl_config.json
